<div class="container">
  <h4 class="text-center"> Password Reset Wizard</h4>
  <div class="row">
    <div class="col-md-12" >
			<div class="row">
				<div class="col-md-6">
  <div class="form-group">
    <h4 class="text-center">Please enter your 6 digit verification code</h4>
    <label for="exampleInputEmail1">Verfification code</label>
    <input type="number" class="form-control" placeholder="Enter recovery code" [(ngModel)]="code" name="code" #Code="ngModel">
    <div class="alert alert-danger" *ngIf="!code && Code.touched">Required</div>
    <small id="emailHelp" class="form-text text-muted">Please make sure you are entering the exact recovery code</small>
    <div>
    <label for="exampleInputEmail1">New Password</label>
    <input type="password" class="form-control"   placeholder="Enter new Password" [(ngModel)]="password" name="password" #passWord="ngModel">
    <div class="alert alert-danger" *ngIf="!password && passWord.touched">Required</div>
    <label for="exampleInputEmail1">Confirm New Password</label>
    <input type="password" class="form-control"  placeholder="Confirm new Password" [(ngModel)]="passwordconfirm" name="passwordconfirm" #passwordConfirm="ngModel">
    <div class="alert alert-danger" *ngIf="!passwordconfirm && passwordConfirm.touched">Required</div>
    <div class="alert alert-danger" *ngIf="!(password==passwordconfirm) && passwordConfirm.touched">Passwords are not matching</div>
    </div>
  </div>
  <div>
</div>
  <button (click)="passwordReset(code,password)" class="btn btn-primary"[disabled]="!code||!password ||!passwordconfirm">Submit</button>

</div>
<div class="col-md-6">
</div>
</div>
</div>
</div>
</div>
