<div class="container">
  <h4 class="text-center"> Password Reset Wizard</h4>
  <div class="row">
    <div class="col-md-12" >
			<div class="row">
				<div class="col-md-6">
  <div class="form-group">
    <h4 class="text-center">Please enter your Registered Details</h4>
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control"   placeholder="Enter Username" [(ngModel)]="uname" name="uname" #Uname="ngModel">
    <div class="alert alert-danger" *ngIf="!uname && Uname.touched">Required</div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control"   placeholder="Enter email" [(ngModel)]="email" name="email" #Email="ngModel">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <small id="emailHelp" class="form-text text-muted">If you are not getting a successful message please check your network and try again.</small>
    <div class="alert alert-danger" *ngIf="!email && Email.touched">Required</div>
  </div>
  <div>
    <small id="emailHelp" class="form-text text-muted" *ngIf=email>We will send a verification code to this Email id if it matches with the records </small>
</div>
  <button (click)="getUid(email,uname)" class="btn btn-primary" [disabled]="!uname||!email">Submit</button>

</div>
<div class="col-md-6">
</div>
</div>
</div>
</div>
</div>
