



<div class="container" *ngFor="let book of books">
  <h4 class="text-center"> {{book.title}}</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        </div>
				<div class="col-md-4">
          <h6 class="text-center">{{book.author}}</h6>
          <div><rating [(ngModel)]=books[0].rating [max]=5 [readonly]=true ></rating>
          <h6 >{{book.countRating}} Ratings and {{book.countReview}} Reviews</h6></div>
					<img alt="Bootstrap Image Preview" src="assets/images/{{book.cover}}" class="img-rounded" style="width:100%;"/>
          <br>
          <br>
          <button type="button" (click)="borrowBook(book.bookId)" class="btn btn-primary btn-default" >
                Borrow
              </button>
        </div>
				<div class="col-md-4">

        </div>
			</div>
		</div>
	</div>
</div>
<div class="container" >
  <h4 class="text-center"> Reviews</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        </div>
				<div class="col-md-4">
          <h6 class="text-center">Check out the reviews from readers</h6>
          <br>
          <br>
            <div>
              <ul *ngFor="let rev of review">
                <li><b>"{{rev.body}}"</b>---</li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{rev.name}}
              </ul>
            <div *ngIf="length==0"><h5 class="text-center">No Reviews Yet</h5></div>
            </div>
        </div>
				<div class="col-md-4">

        </div>
			</div>
		</div>
	</div>
</div>
