<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>


<div class="container">
  <h4 class="text-center"> {{books[0].title}}</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        </div>
				<div class="col-md-4">
          <h6 class="text-center">{{books[0].author}}</h6>
          <div><rating [(ngModel)]=books[0].rating [max]="max" [readonly]=true ></rating>
          <h6 >{{books[0].countRating}} Ratings and {{books[0].countReview}} Reviews</h6></div>
					<img alt="Bootstrap Image Preview" src="assets/images/{{books[0].cover}}" class="img-rounded" style="width:100%;"/>
          <br>
          <br>
          <button type="button" (click)="borrowBook(books[0].bookId)" class="btn btn-primary btn-default" >
                Borrow
              </button>
        </div>
				<div class="col-md-4">

        </div>
			</div>
		</div>
	</div>
</div>
<div class="container">
  <h4 class="text-center"> Reviews</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        </div>
				<div class="col-md-4">
          <h6 class="text-center">Check out the reviews from readers</h6>
          <br>
          <br>
            <div>
              <ul *ngFor="let rev of review">
                <li>"{{rev.body}}"-->{{rev.name}}</li>
              </ul>
            <a routerLink="/review"  ><div *ngIf=!review[0]><h5 class="text-center">No Reviews Yet, Be the first One</h5></div></a>
            </div>
        </div>
				<div class="col-md-4">

        </div>
			</div>
		</div>
	</div>
</div>
