<div class="container">
    <h2>Acknowledged Notifications</h2>
    <p>Please find the notifications acknowledged by you</p>
    <div class="alert alert-danger" *ngIf=empty>{{empty}}</div>    
  <table class="table">
    <thead *ngIf='!empty'>
      <tr >
        <th>Notification Date</th>
        <th>Content</th>
        <th>Acknowledged On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications" >
        <td>{{notification.notificationDate}}</td>
        <td>{{notification.matter}}</td>
        <td>{{notification.ackdate}}</td>
      </tr>
    </tbody>
  </table>
  <div>
  </div>
</div>
