<div class="container">
  <h4 class="text-center"> Password Update</h4>
  <div class="row">
    <div class="col-md-12" >
			<div class="row">
				<div class="col-md-6">
<div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input type="password" class="form-control"   placeholder="Enter current password" [(ngModel)]="passwordold" name="passwordold" #passwordOld="ngModel">
    <div class="alert alert-danger" *ngIf="!passwordold && passwordOld.touched">Required</div>
  </div>
  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input type="password" class="form-control"  placeholder="New Password" [(ngModel)]="passwordnew" name="passwordnew" #passwordNew="ngModel">
    <div class="alert alert-danger" *ngIf="!passwordnew && passwordNew.touched">Required</div>
  </div>
  <div class="form-group">
    <label for="newpassword">Confirm New Password</label>
    <input type="password" class="form-control"  placeholder="Confirm New Password" [(ngModel)]="passwordconfirm" name="passwordconfirm" #passwordConfirm="ngModel">
    <div class="alert alert-danger" *ngIf="!passwordconfirm && passwordConfirm.touched">Required</div>
    <div class="alert alert-danger" *ngIf="!(passwordnew==passwordconfirm) && passwordConfirm.touched">Passwords are not matching</div>
  </div>

  <button (click)="updatepassword(passwordold,passwordnew)" class="btn btn-primary" [disabled]="!passwordold||!passwordnew ||!passwordconfirm">Update</button>
</div>
<div class="col-md-6">
</div>
</div>
</div>
</div>
</div>
