<div >
  <h1 >For Testing Purpose</h1>
  <h2  id="test">For CSS Testing Purpose</h2>
  <button (click)="forchecking()">template</button>
  <div *ngIf="forcheck;else forcheckingf">Div is present</div>
  <ng-template #forcheckingf>Template checking</ng-template>
<button (click)="savepdf(template)" class="bn btn-info">save</button>
<ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
<button (click)="saveexcel()" class="bn btn-info">save</button>
<table id="example" class="table2excel" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>

          </tbody>
    </table>

</div>

<div class="form-group">
  <label class="btn btn-success">
    upload<input type="file" hidden (change)="upload($event)">
  </label>
  <img alt="Bootstrap Image Preview"   src="assets/profilepictures/{{uname}}.jpg" class="img-rounded" style="width:100px,height:100px;" />

  </div>
<div class='row'>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-4">
                    <label for="sort-field">Sort By</label>
                    <select class="form-control" name="sortField2" 
                    [(ngModel)]="sortField2">
                    <option *ngFor="let field of sortField" [value]="field">{{utilService.capitalizeFirst(field)}}
                    </option>
                    </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="sort-direction">Sort Direction</label>
                    <div>
                    <button class="btn btn-primary" [ngClass]="{'btn-success':sortDirection=='asc'}"
                    (click)="sortDirection='asc'">
                    Asc
                </button>
                <button class="btn btn-primary" [ngClass]="{'btn-success':sortDirection=='desc'}"
                (click)="sortDirection='desc'">
                Desc
            </button>
            </div>
            </div>
                    </div>
                    </div>
                    </div>
  <div class="col-sm-4"  *ngFor='let book of books | sortBy:[sortField2,sortDirection]' >
      <div class="thumbnail">
    <img  src="assets/images/{{book.cover}}" alt="Card image cap" style="height:200px;">
    <div class="caption">
      <h4 class="card-title">{{book.title}}</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a  class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
  </div>
  </div>
<div>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
    <br><br>
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
    </ng-template>
</div>