<div class="container" >
  <button (click)="gotostore()" class="btn btn-success">Go back to Store</button>
  <h4 class="text-center"> Your Cart</h4>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

</div>
<div class="col-md-4">

</div>
</div>
<div class="container" >
  <h2>Cart</h2>
  <div class="alert alert-danger" *ngIf=empty>{{empty}}</div>
  <table  class="table" id="history" >
    <thead *ngIf='cart.length>0'>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Count</th>
        <th>Price</th>
        <th>Sub Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cart" >
        <td>{{car.title}}</td>
        <td>{{car.author}}</td>
        <td>{{car.count}}</td>
        <td>{{car.price}}</td>
        <td>{{car.subTotal}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-2">
</div>
<div class="col-md-2">
</div>
<div class="col-md-2">
</div>
<div class="col-md-2">
</div>
<div class="col-md-2">
</div>
<div class="col-md-2">
  <h4 class="text-center"> Total:{{total}}</h4>
<a routerLink="/billing"><button class="btn btn-warning" >Proceed to Billing</button></a>
<br>
<br>
<div>
<button (click)="abort()" class="btn btn-danger">Abort</button>
</div>
</div>
