<div class="container">
    <h2>Notifications</h2>
    <p>Find the latest notifications for you</p>
    <div class="alert alert-danger" *ngIf=empty>{{empty}}</div>
  <table class="table" >
    <thead *ngIf='!empty'>
      <tr >
        <th>Notification Date</th>
        <th>Content</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications" >
        <td>{{notification.notificationDate}}</td>
        <td>{{notification.matter}}</td>
        <td><button (click)="acknowledge(notification.notificationId)" class="btn btn-primary btn-default">Acknowledge</button> </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a routerLink="/acknowledged"><h6 class="text-center">Click Here for Acknowledged notifications</h6></a>
  </div>
</div>
